body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
.btn {
  height: 100px;
  width: 200px;
  background-color: #E5B6D5;
  border: 10px solid #B2479A;
  border-left: 10px solid #CC7FB5;
  border-right: 10px solid #CC7FB5;
  font-weight: bold;
  font-size: 25px;
  color:#FFFFFF;
}

.btn:hover {
  background-color: #B2479A;
  border: 10px solid #CC7FB5;
  border-left: 10px solid #E5B6D5;
  border-right: 10px solid #E5B6D5;
}

.button-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 420px;
}

/*@media screen and (max-width:430px) {
  .button-container {
    width: 100vw;
    height: 200px;
    flex-direction: column;
  }

}*/
